{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3,
          "proposals": false
        }
      }
    ]
  ],
	"plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-strict-mode"
  ],
	"env": {
		"test": {
			"presets": ["@babel/preset-react"]
		}
	}
}
